<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">

    <context:component-scan base-package="com.fblog.service"/>

    <!-- 每1小时更新页面访问量-->
    <task:scheduled-tasks>
        <task:scheduled ref="visitStateManager" method="flush" cron="0 0 0/1 * * ?" />
    </task:scheduled-tasks>

    <!-- 为了能根据id读取bean，需要在此处添加读取bean的配置 -->
    <bean class="com.fblog.core.plugin.ApplicationContextUtil"/>



</beans>